.NavBar {
  background-color: #001524;
  max-width: 100vw;
}

.NavLink {
  color: #ee0000;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 8px 5px;
  text-decoration: none;
}
.NavLink i {
  margin-right: 5px;
}

.NavLink span {
  padding-left: 5px;
}

.NavLink:hover {
  color: #f3eade;
}

.Active,
.Active i {
  color: maroon;
}
