.App {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.Main {
  padding-top: 175px;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #dadadf;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}
